{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <main class="mainContent">
    <div class="wrapper">

      <header>
        <h2>{{ post.title }}</h2>
        <div class="mainContent_meta">
          <time>
            <i class="fa fa-calendar" aria-hidden="true"></i>{{ post.created_at | date:"M d, Y" }}
          </time>
          <span>
            <i class="fa fa-comment" aria-hidden="true"></i>{{ comments.count }} comments
          </span>
          <span>
            <i class="fa fa-eye" aria-hidden="true"></i>14 osób przeczytało
          </span>
        </div>
      </header>

      {{ post.body | safe }}

      <footer>

        <section class="post__tags">
          <ul>
            {% for tag in post.tags.all %}
              <li><a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a></li>
            {% endfor %}
          </ul>
        </section>

        <section class="post__comments">
          <ul>
            {% for comment in comments %}
              <li class="comment__item">
                <div class="comment__header">
                  <span class="comment__author">{{ comment.name }}</span>
                  <span class="comment__timedate">{{ comment.created_at }}</span>
                </div>
                <div class="comment__content">{{ comment.body }}</div>
              </li>
            {% empty %}
              <p>No comments yet.</p>
            {% endfor %}
          </ul>
        </section>

        <section class="">
          {% if new_comment %}
            <h4>Your comment has been added.</h4>
          {% else %}
            <form class="form" action="." method="POST">

              {% csrf_token %}

              <label for="name">Your name *</label>
              <input id="name" type="text" name="name" required />

              <label for="email">Your e-mail *</label>
              <input id="email" type="email" name="email" required />

              <label for="body">Your message *</label>
              <textarea id="body" rows="5" name="body" required></textarea>

              <input type="submit" value="Send comment" class="btn" />

            </form>
          {% endif %}
        </section>

      </footer>

    </div>
  </main>
{% endblock %}
