body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.post__header {
    background: #228B22;
    text-align: center;
    padding: 80px 0;
}

.post__meta {
    margin-top: 8px;
    font-size: 16px;
    color: #ccc;
}

.post__meta i {
    margin-right: 6px;
}

.post__meta span {
    margin-left: 8px;
}

.post__title {
    font-size: 38px;
    color: #fff;
}

.post__content,
.postlist__content {
    margin: 44px 0;
    line-height: 1.6;
    letter-spacing: 0.01em;
    text-align: justify;
    font-weight: 300;
    font-size: 18px;
    color: #333;
}

.post__tags {
    margin: 38px 0 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.post__tags li {
    float: left;
    margin-right: 12px;
    background: #eee;
}

.post__tags li:hover {
    background: crimson;
}

.post__tags li a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
}

.post__tags li a:hover {
    color: #fff;
}

.similar-posts {
    margin: 55px;
}

.similar-posts ul {
    padding-left: 18px;
}

.comments {
    margin: 4.4em 0;
    padding: 0;
    list-style: none;
}

.comments__item {
    margin-top: 55px;
}

.comments__item--author {
    font-weight: 600;
}

.comments__item--timedate {
    margin-top: 4px;
    font-size: 12px;
}

.comment__form {
    margin-bottom: 55px;
}

.postlist__tag {
    margin: 44px 0;
}

.postlist__title a {
    color: #00abff;
    text-decoration: none;
}

.postlist__content {
    margin: 0;
}

.pagination {
    margin-top: 44px;
}

label {
    color:#333;
    margin-bottom: 4px;
    display: block;
}
input, textarea {
    margin: 0 0 10px;
    background:#ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}
input[type=submit] {
    font-weight: bold;
    background:#00abff;
    color:#fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
